$background: #e74c3c;
$select-color: #fff;
$select-background: #c0392b;
$select-width: 220px;
$select-height: 40px; 
.input__sec {
    background-color:white;
    padding:2em;
    
    select {
        // A reset of styles, including removing the default dropdown arrow
        appearance: none;
        // Additional resets for further consistency
        background-color: transparent;
        border: none;
        padding: 0 1em 0 0;
        margin: 0;
        width: 100%;
        font-family: inherit;
        font-size: inherit;
        cursor: inherit;
        line-height: inherit;
      }
}
h2 {
    color:black;
}

.output {
   display:flex;
   flex-direction:row;
  mark{
      font-weight: bold;
      
    span {
        margin: 0.3em;
        
    }
}

}

