.header {
    font-family: sans-serif;
    font-style: italic;
    color: #007AF3;
}

.grid{
    background-color:white;


}
.textfield{
    color: white;

}

textarea{
background-color: gray;
}


#parent{
    // display: flex;
    // align-items: center;
    // flex-direction: column;
    // width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
    position: fixed;
    border-radius: 4em solid;
}

.menu { 
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.menu__icon{
    content: '\2715'
}

.grid{
    width: 100%;
    height: 100%;
}
.btn__class{
    border-radius: 10em ;
    background-color: white;
}